   a.brand-logo {
       font-family: 'Great Vibes', cursive;
       text-shadow: 1px 1px 2px #28a745;
   }

   button#button_login {
       display: block !important;
       margin: auto !important;
   }


   body {
       display: flex;
       min-height: 100vh;
       flex-direction: column;
   }

   main {
       flex: 1 0 auto;
   }

   #row-home {
       height: 73vh;
   }

   .page-footer {
       background-color: #263238;
       padding-bottom: 20px;
   }

   .return {
       display: inline-flex;
       margin-bottom: 20px;
       width: 100%;
       justify-content: center;
   }

   .btn-floating.light-blue.pulse {
       margin-right: 10px;
   }

   .btn-floating.light-blue.pulse {
       margin-left: 10px;
   }

   .materialboxed.responsive-img {
       min-height: 182px;
   }

   #text-footer {
       text-align: center;
   }

   h1,
   h2 {
       font-family: 'Amatic SC', cursive;
       font-size: 5em;
       margin: 1rem 0 1rem 0;
   }

   h4,
   h5,
   h6,
   .card-title.grey-text.text-darken-4,
   .card-title {
       text-decoration: underline;
   }

   hr {
       display: none;
   }

   h1,
   h3 {
       text-align: center;
   }

   h3 {
       background-color: black;
       color: white;
       font-size: 0.9em;
       margin-bottom: 0px;
   }

   .news p {
       background-color: #CCCCCC;
       margin-top: 0px;
   }

   .news {
       width: 70%;
       margin: auto;
   }

   a {
       text-decoration: none;
       color: blue;
   }

   .activator {
       max-height: 280px;
   }

   #imgrounded {
       margin-top: 20px;
       max-width: 55%;
       max-height: 45%;
       border-radius: 50%;
   }

   .biocontent {
       text-align: center;
   }

   div.col {
       margin-bottom: 20px;
   }



   /* MEDIA QUERIES */

   @media (max-width: 380px) {

       a.brand-logo {
           font-size: x-large;
       }
